{# 
vim:filetype=htmljinja 
#}
{% macro get_link(endpoint, text) -%}
    {% set u = url_for(endpoint, **kwargs) %}
    {% if request.path.startswith(u) -%}
    {% set c = 'active' -%}
    {% else -%}
    {% set c = '' -%}
    {% endif -%}
    <a href="{{ url_for(endpoint, **kwargs) }}" class="{{ c }}">{{ text }}</a>
{%- endmacro %}


{%- macro render_field(field) -%}
<div class="form-field{% if field.errors %} error{% endif %}">
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <span class="error">{{ field.errors[0] }}</span>
    {% endif %}
</div>
{%- endmacro -%}

{%- macro menu(br) -%}
{{ get_link('pages.show_page', 'Alphabits', page="about")}} is my company, where I create websites, web applications and {{br|safe}}do data analysis.
I prefer to create {{ get_link('pages.show_page', 'simple solutions', page='solutions') }} using open source tools. {{br|safe}}You can read more about my personal thoughts at {{ get_link('blog.index', 'my blog')}}.
{%- endmacro -%}


{%- macro blog_pagination(pagination) -%}
<div class="pagination">

{%- if not pagination.current_page_is_first -%}
<div class="prev"><a href="{{ url_for('blog.index', page_num=(pagination.current_page-1), **request.args) }}">Newer blog posts</a></div>
{%- endif -%}

{%- if not pagination.current_page_is_last -%}
<div class="prev"><a href="{{ url_for('blog.index', page_num=(pagination.current_page+1), **request.args) }}">Older blog posts</a></div>
{%- endif -%}

</div>
{%- endmacro -%}

