{%- from "_helpers.html" import render_field -%}
{% extends "layout.html" %}

{% block content %}
    <h2>About Alphabits</h2>
    <p>I started Alphabits in the summer 2007. In the beginning the focus was mainly on graphic design and web <em>design</em>. I pretty soon realised that my strength was in technical problem solving, and maybe not so much creative, visual problem solving, so as time has passed, Alphabits has become a software company.</p>
    <p>It was never my intention to try to expand Alphabits, and maybe get one or more employees. Instead Alphabits has been my way, to work on exactly the jobs I wanted, at the time I wanted. It haven't made me rich, but I have learned a lot and it has always been entertaining.</p>
{% endblock %}


