{#
 vim:filetype=htmljinja
#}
{% extends "layout.html" %}
{%- block content -%}
<script>
    $(window).addEvent('domready', function () {
        var form = $('normal-distribution-form');
        var fields = {};
        var result_div = document.id('result');
        form.getElements('input[type=text]').each(function (item, index) {
            fields[item.name] = item;
        });
        var norm_cdf = function (x) {
            if (x === 'inf' || x > 5) { return 1; }
            if (x === '-inf' || x < -5) { return 0; }
            if (x < 0) { return 1 - norm_cdf(-1*x); }

            var c = 1/Math.sqrt(2*Math.PI);
            var eps = Math.pow(10,-10);
            var prob = 0.5;
            var fac = 1;
            var n = 0;
            var term = c*x;

            while (Math.abs(term) > eps && n < 100) {
                prob = prob + term;
                n = n + 1;
                fac = n*fac;
                term = c*Math.pow(-1,n)*Math.pow(x,2*n+1)/(Math.pow(2,n)*fac*(2*n+1));
            }

            return prob;
        };
        var round_to = function (num, precision) {
            var m = Math.pow(10, precision);
            return Math.round(num*m) / m ;
        };
        var on_submit_handler = function (e) {
            var field_setup = {
                'mean': {'default': 0},
                'standard-deviation': {'default': 1},
                'lower-bound': {'default': '-inf'},
                'upper-bound': {'default': 'inf'}
            };
            var tmp_val;
            for (key in field_setup) {
                tmp_val = parseFloat(fields[key].value);
                if (isNaN(tmp_val)) {
                    tmp_val = field_setup[key]["default"];
                }
                fields[key].value = tmp_val;
            }

            var mean = fields["mean"].value;
            var std = fields["standard-deviation"].value;
            if (std === 0) {std = 1;}
            var lower =  fields["lower-bound"].value;
            var upper = fields["upper-bound"].value;
            
            var low_z = (lower === '-inf') ? lower : (lower - mean)/std ;
            var up_z = (upper === 'inf') ? upper : (upper - mean)/std ;

            var result = norm_cdf(up_z) - norm_cdf(low_z);

            var lower_string = (lower === '-inf') ? '' : lower + ' < ' ;
            var upper_string = (upper === 'inf') ? '' : ' < ' + upper ;

            var result_string = ('When \\(X\\sim N({mean}, {std}^2)\\)' + 
                    '<br/><br/>\\(\\large P({lower_string}X{upper_string})={result}\\)').substitute({
                'mean': mean, 'std': std, 'lower_string': lower_string, 
                'upper_string': upper_string, 'result': round_to(result, 4)
            });

            result_div.set('html', result_string);
            result_div.highlight();
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, result_div]);
            if (e) {
                e.preventDefault();
            }
        };
        form.addEvent('submit', on_submit_handler);
        on_submit_handler();
    });
</script>
<style>
    #result {
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #f6f6f6;
        margin-top: 12px;
        margin-bottom: 22px;
        text-align: center;
    }

    .calculator input[type=text] {
        width: 55px;
    }

    .calculator .form-field {
        width: 400px;
    }

    .calculator input[type=submit] {
        padding-left: 30px;
        padding-right: 30px;
    }

    .calculator label {
        width: 160px;
        padding-right: 8px;
        text-align: right;
    }

    .calculator form {
        overflow: hidden;
    }
</style>
<h2>Normal distribution calculator</h2>
<p>Here you can calculate the cumulative distribution function for the normal distribution.</p>
<p><em>You can read about the math behind the calculation at the <a href="{{ url_for('blog.index') }}">blog</a></em></p>
<div class="calculator">
    <div id="result">
        Results are shown here...
    </div>
    <form action="" method="get" id="normal-distribution-form">
        <div class="form-field mean">
            <label for="mean">Mean</label>
            <input type="text" name="mean" value="{{ request.args.get('mean', 0) }}" />
        </div>
        <div class="form-field standard-deviation">
            <label for="standard-deviation">Standard deviation</label>
            <input type="text" name="standard-deviation" value="{{ request.args.get('standard-deviation', 1) }}" />
        </div>
        <div class="form-field lower-bound">
            <label for="lower-bound">Lower bound</label>
            <input type="text" name="lower-bound" value="{{ request.args.get('lower-bound', '-inf') }}" />
        </div>
        <div class="form-field upper-bound">
            <label for="upper-bound">Upper bound</label>
            <input type="text" name="upper-bound" value="{{ request.args.get('upper-bound', 'inf') }}" />
        </div>
        <div class="form-field submit">
            <label for="submit">&nbsp;</label>
            <input type="submit" name="submit" value="=== Calculate ===" />
        </div>
    </form>
</div>
{% endblock %}

