{% extends 'layout.html' %}
{% block content %}
<h2>Simple solutions</h2>
<p>I regularily commit new work to <a href="http://github.com/alphabits">my github account</a>, so you can see some of the things I'm working on at the moment. I only recently began to use github, so a lot of my older work is not uploaded</p>
<p>&nbsp;</p>
<h3>Kassekladde</h3>
<h4>Backend programmering, server setup</h4>
<p>Lidt indledning</p>
<p><img src="{{ url_for('static', filename='img/kassekladde-sales-site.gif') }}" /></p>
<p><img src="{{ url_for('static', filename='img/kassekladde-bilag.gif') }}" /></p>
<p><img src="{{ url_for('static', filename='img/kassekladde-faktura.gif') }}" /></p>
{% endblock %}
